<div class="sidenav">
    <p><a href="index.html">Home</a></p>

    <p><a href="about.html">About</a></p>

    <p><a href="projects.html">Projects</a></p>

    <p><a href="under_construction.html">Blog</a></p>
</div>
