<div calss="blog_post_item">
    <img class="blog_post_item__image" scr="{{ }}"/>

    <div class="blog_post_item__text">
        <h3><a href="{{ link }}">{{ title }}</a></h3>

        <p>{{ date }}</p>

        <p>by {{ author }}</p>

        <p>{{ summary }}</p>
        
        <p>{{ tags }}</p>
    </div>
</div>