<!DOCTYPE html>

<head>
    {{ header }}
</head>

<body>
    {{navbar}}

    <div class="main">

        <div class="header">
            {{ project_name }}
        </div>

        {{ proj_text }}

        <h2>Project Posts</h2>

        {{ posts }}

    </div>
</body>

