<!DOCTYPE html>

<head>
    {{ header }}
</head>

<body> 
    {{ navbar }}
    <div class="main">
        <div id="header">
            <center><h1>Games</h1></center>
        </div>
        
        <div id="content">
            <p><a href="games/conn4.html">Connect Four</a></p>
        </div>
    </div>
<body>
