<!DOCTYPE html>
<head>
    {{ header }}
</head>

<body> 
    
    <div id="header">
        <center><img src="static/header.png", width="1200" alt=AliaLescoulie.com><center>
    </div>

    <table>
        <thead>
            <tr>
                <th>
                    <h2>About Me</h2>
                    
                    <a href="about.html"><img class="fill" src="static/about_tile.gif" alt="About"></a>
                </th>
                <th>
                    <h2>Projects</h2>

                    <a href="projects.html"><img class="fill" src="static/projects_tile.gif" alt="Projects clip art"></a>
                </th>
                <th>
                    <h2>Blog</h2>

                    <a href="blog.html"><img class="fill" src="static/blog_tile.gif" alt="Blog clip art"></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h2>Science Posts</h2>

                    <a href="science.html"><img class="fill" src="static/chem_tile.gif" alt="Science blog posts clip art"></a>
                </td>
                <td>
                    <h2>Technology Posts</h2>

                    <a href="under_construction.html"><img class="fill" src="static/software_tile.gif" alt="Software blog posts clip art"></a>
                </td>
                <td>
                    <h2>Games</h2>

                    <a href="games.html"><img class="fill" src="static/games.gif" alt="Commentary blog posts clip art"></a>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="buttons">
        <center>
            <a href="under_construction.html"><img src="static/construction.gif" alt="construction button"></a>
            <img src="static/vim.gif" alt="vim button">
            <img src="static/queerpride.gif" alt="queer pride">
            <img src="static/linux-p.gif" alt="linux">
            <img src="static/newlambda.gif" alt="half life">
            <img src="static/css.gif" alt="css">
            <img src="static/hd3.gif" alt="holodeck">
            <a href="gnu_linux.html"><img src="static/gnu-linux.gif" alt="its gnu+linux"></a>
            <a href="https://gimp.org"><img src="static/gimp.gif" alt="gimp"></a>
            <img src="static/gay_button2.gif" alt="gay">
            <a href="https://nixos.org"><img src="static/nix.gif" alt="nix"></a>
            <a href="https://nixos.org"><img src="static/nix_dark.gif" alt="nix"></a>
            <img src="static/ban_time_travel.gif" alt="ban_time_travel">
            <img src="static/antifa.gif" alt="anti fascist">
            <img src="static/button302.png" alt="she/her pronouns">
            <a href="https://diyhrt.wiki/"><img src="static/button253.gif" alt="trans your gender"></a>
            <img src="static/bestviewedcomp.gif" alt="best viewed on a computer">
            <img src="static/hs_black_animatedgif.gif" alt="haskell animated logo on a black background">
            <img src="static/hs_trans_animated.gif" alt="haskell animated logo on a trans background">
            <img src="static/hs_white_animatedgif.gif" alt="haskell animated logo on a white background">
            
        <center>
    </div>
</body>
