body {
    background-image: url("tile.webp");
    background-repeat: repeat;
    display: grid;
    grid-template-rows: var(--header-height) auto;
    grid-template-columns: var(--sidebar-width) auto;
    font-family: "Times New Roman" serif;
}

a {
    color: white;
}

table, th, td {
    border: 3px solid white;
    border-style: inset;
}

table {
    table-layout: fixed;
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.fill { /* filling the table tiles */
    width: 100%;
    max-width: 300px;
    max-height: 300px;
}

td {
    width: 33%;
}

h1 {
    color: white;
    font-family: "Times New Roman";
}

h2 {
    color: white;
    font-family: "Times New Roman";
}
/* Side bar layout thing */

/*
#header {
    text-align: center;
    font-size: large;
    color: white;
}

#sidebar {
    text-align: left;
    font-size: medium;
    color: white;
}

#content {
    text-align: center;
    font-size: small;
}

/*
    Nav Bar styling
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #a478b8;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: lavender;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #e0c2f2;
  }
  
  .active {
    background-color: #e0c2f2;
  }
*/
