<!DOCTYPE html>

<head>
    {{ header }}
</head>

<body> 
    {{ navbar }}
    
    <h1><center>Connect Four</center></h1>

    <table>
        <colgroup>
            <col span="1" class="c0">
            <col span="1" class="c1">
            <col span="1" class="c2">
            <col span="1" class="c3">
            <col span="1" class="c4">
            <col span="1" class="c5">
            <col span="1" class="c6">
        </colgroup>
        <tr>  
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
        </tr>
        <tr>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
        </tr>
        <tr>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
        </tr>
        <tr>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
        </tr>
        <tr>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
        </tr>
        <tr>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
            <td> <img class="fill" src=""> </td>
        </tr>
    </table>
</body>

