<!DOCTYPE html>

<head>
    {{ header }}
    <link rel="stylesheet" href="static/conn4.css">
    <script type="text/javascript" src="scripts/conn4.js"></script>
</head>

<body> 
    {{ navbar }}
    
    <div class=main>
        <h1><center>Connect Four</center></h1>
       

        <form id="conn4_inputs" onsubmit="event.preventDefault(); startGame();">
            <input type="radio" id="easy" name="difficulty" value=0>
            <label for="easy">Easy</label>
            <input type="radio" id="norm" name="difficulty" value=1>
            <label for="norm">Normal</label>
            <input type="radio" id="hard" name="difficulty" value=2>
            <label for="hard">Hard</label>
            <input type="radio" id="vhard" name="difficulty" value=3>
            <label for="vhard">Soulslike</label>
            <div class="break"></div>
            <input type="submit" value="Start" class="start_game">
        </form>

        <table id="conn4_board"></table>

        <p id="game_out"><p> 
    </div>
</body>

