<!DOCTYPE html>

<head>
    {{ header }}
    <link rel="stylesheet" href="static/conn4.css">
    <script type="text/javascript" src="scripts/conn4.js"></script>
</head>

<body> 
    {{ navbar }}
    
    <div class=main>
        <h1><center>Connect Four</center></h1>
       
        <center>
        <form id="conn4_inputs" onsubmit="event.preventDefault(); startGame();">
            <h2>Players</h2>
            <input type="radio" id="one" name="players" value=1>
            <label for="one">One Player</label>
            <input type="radio" id="two" name="players" value=2>
            <label for="two">Two Players</label>
            <h2>Computer Difficulty</h2>
            <div class="break"></div>
            <input type="radio" id="easy" name="difficulty" value=0 disabled>
            <label for="easy" disabled>Easy</label>
            <input type="radio" id="norm" name="difficulty" value=1 disabled>
            <label for="norm" disabled>Normal</label>
            <input type="radio" id="hard" name="difficulty" value=2 disabled>
            <label for="hard">Hard</label>
            <input type="radio" id="vhard" name="difficulty" value=3 disabled>
            <label for="vhard" disabled>Soulslike</label>
            <div class="break"></div>
            <input type="submit" value="Start" class="start_game">
        </form>
        </center>

        <p>One player mode is still in progress</p>

        <br>

        <table id="conn4_board"></table>

        <center><p id="game_out"><p><center>
    </div>
</body>

