<!DOCTYPE html>
<head>
    {{ header }}
</head>
<body> 
    

    <div id="header">
        <center><h1>Alia Lescoulie</h1></center>
    </div>

    <table>
    <thead>
        <tr>
            <th><img src="static/about_tile.gif" alt="About"></th>
            <th>
                <h2>Projects</h2>

                <img src="static/projects_tile.gif" alt="Projects clip art">
            </th>
            <th>
                <h2>Blog</h2>

                <img src="static/blog_tile.gif" alt="Blog clip art">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h2>Science Posts</h2>

                <img src="static/chem_tile.gif" alt="Science blog posts clip art">
            </td>
            <td>
                <h2>Software Posts</h2>

                <img src="static/software_tile.gif" alt="Software blog posts clip art">
            </td>
            <td>
                <h2>Comentary Posts</h2>

                <img src="static/comentary_tile.gif" alt="Comentary blog posts clip art">
            </td>
    </tbody>
    </table>


    <div id="content">
        <p1> Welcome to my site </p1>
    </div>
</body>
